body {
  color: #2d3c49;
  font-family: 'Roboto', sans-serif;
}

.portfolio-header {
  border-bottom: #7d97ad solid 5px;
  margin: 0;
}

.dragonlogo {
  width: 50px;
  height: 50px;
}

.fire-container {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/20/29RCCMAK_-_Campfire_at_base_camp_Susunia_Hill.jpg");
  background-size: cover;
  background-position: center;
  border: solid black 2px; 
  width: inherit;
  height: 130px;
}


.h-one {
  font-size: 1.5rem;
  font-family: 'Jura', sans-serif;
}

.h-two {
  color: #7d97ad;
  font-size: 1rem;
  padding: 0 0 0 20px;
}

.h-three {
  font-size: 0.6rem;
}

.h-four {
  font-size: 1rem;
}

a {
  font-size: 0.7rem;
}

.link-container {
  width: 120px
}

.card {
  border: none;
}

.proj-image {
  width: 50px;
  height: 50px;
  object-fit: scale-down;
  margin: auto;
}


/* --------------------------------------------------
Media Queries
----------------------------------------------------*/


/* Small devices (landscape phones, 576px and up)*/
@media (max-height: 361px) and (max-width: 640px) { 
  .portfolio-header {
    border-bottom: none;
    margin: 0;
  }

  .fire-container {
    border: none;
    width: inherit;
    height: 20px;
  }

  .proj-image {
    width: 90px;
    height: 90px;
    object-fit: scale-down;
    margin: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

  .h-one {
    font-size: 2rem;
  }

  .h-two {
    font-size: 1.5rem;
  }

  .h-three {
    font-size: 1.3rem;
  }

  .h-four {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.3rem;
  }

  .link-container {
    width: 200px
  }

  .dragonlogo {
    width: 100px;
    height: 100px;
  }

  .proj-image {
    width: 150px;
    height: 150px;
  }

  .fire-container {
    height: 250px;
  }   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .h-one {
    font-size: 2rem;
  }

  .h-two {
    font-size: 1.5rem;
  }

  .h-three {
    font-size: 1.3rem;
  }

  .h-four {
    font-size: 2rem;
  }

  a {
    font-size: 1.3rem;
  }

  .link-container {
    width: 250px;
  }

  .dragonlogo {
    width: 100px;
    height: 100px;
  }

  .proj-image {
    width: 175px;
    height: 175px;
    transition: 3s;
  }

  .proj-image:hover {
    transition: 2s;
    transform: scale(1.3);
  }

  .fire-container {
    height: 280px;
 }   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .h-one {
    font-size: 2rem;
  }

  .h-two {
    font-size: 1.5rem;
  }

  .h-three {
    font-size: 1.3rem;
  }

  .h-four {
    font-size: 2rem;
  }

  a {
    font-size: 1.3rem;
  }

  .link-container {
    width: 300px;
  }

  .dragonlogo {
    width: 100px;
    height: 100px;
  }

  .proj-image {
    width: 200px;
    height: 200px;
    transition: 3s;
  }
  .proj-image:hover {
    transition: 2s;
    transform: scale(1.3);
  }

  .fire-container {
    height: 280px;
 }  

}